<div class="ea_theme-display">
    <table>
        <thead>
        <tr>
            <th>DisplayName</th>
            <th>ColorKind</th>
            <th>ContrastKind</th>
            <th>CssClassString</th>
            <th>ThemeKey</th>
        </tr>
        </thead>
        
        <tbody>
        <tr>
            <td>@Theme.DisplayName</td>
            <td>@Theme.ColorKind</td>
            <td>@Theme.ContrastKind</td>
            <td>@Theme.CssClassString</td>
            <td>@Theme.ThemeKey.Guid</td>
        </tr>
        </tbody>
    </table>
</div>