@using BlazorALaCarte.Shared.Theme
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="bte_text-editor-input-theme @TextEditorService.GlobalThemeCssClassString @TopLevelDivElementCssClassString">
    <span class="@LabelElementCssClassString">
        Theme:&nbsp;
    </span>

    <select @onchange="SelectedThemeChanged"
            class="@InputElementCssClassString">
        @{
            var themes = ThemeRecordsCollectionWrap.Value.ThemeRecordsList;
            var chosenThemeKey = TextEditorService.GlobalOptionsWrap.Value.Options.CommonOptions.ThemeKey
                ?? ThemeFacts.VisualStudioDarkThemeClone.ThemeKey;
            
            foreach (var theme in themes)
            {
                <option value="@theme.ThemeKey.Guid.ToString()"
                        selected="@((chosenThemeKey ?? ThemeKey.Empty) == theme.ThemeKey)">
                    @theme.DisplayName
                </option>
            }
        }
    </select>
</div>