@using BlazorTextEditor.RazorLib.Row
@using BlazorTextEditor.RazorLib.Model
@using BlazorTextEditor.RazorLib.ViewModel

@inherits TextEditorView

<div class="bte_text-editor-footer @TextEditorService.ThemeCssClassString">
    @{
        var textEditorModel = MutableReferenceToModel;
        var textEditorViewModel = MutableReferenceToViewModel;
        
        if (textEditorModel is not null &&
            textEditorViewModel is not null)
        {
            if (!string.IsNullOrWhiteSpace(textEditorModel.FileExtension))
            {
                <div class="bte_text-editor-footer-entry">
                    @textEditorModel.FileExtension
                </div>
            }

            <div class="bte_text-editor-footer-entry">
                <div class="bte_text-editor-footer-name-value-pair">
                    <div class="bte_text-editor-footer-name">
                        length:
                    </div>
                    <div class="bte_text-editor-footer-value"
                          style="@StyleMinWidthFromMaxLengthOfValue(textEditorModel.DocumentLength)">
                        @($"{textEditorModel.DocumentLength}")
                    </div>
                </div>
                
                <div class="bte_text-editor-footer-name-value-pair">
                    <div class="bte_text-editor-footer-name">
                        lines:
                    </div>
                    <div class="bte_text-editor-footer-value"
                          style="@StyleMinWidthFromMaxLengthOfValue(textEditorModel.RowCount)">
                        @($"{textEditorModel.RowCount}")
                    </div>
                </div>
            </div>

            <div class="bte_text-editor-footer-entry">
                <div class="bte_text-editor-footer-name-value-pair">
                    <div class="bte_text-editor-footer-name">
                        Ln:
                    </div>

                    @{ var rowNumber = textEditorViewModel.PrimaryCursor.IndexCoordinates.rowIndex + 1; }
                    
                    <div class="bte_text-editor-footer-value"
                          style="@StyleMinWidthFromMaxLengthOfValue(textEditorModel.RowCount)">
                        @($"{rowNumber}")
                    </div>
                </div>
                
                <div class="bte_text-editor-footer-name-value-pair">
                    <div class="bte_text-editor-footer-name">
                        Col:
                    </div>

                    @{ var columnNumber = textEditorViewModel.PrimaryCursor.IndexCoordinates.columnIndex + 1; }
                    
                    <div class="bte_text-editor-footer-value"
                          style="@StyleMinWidthFromMaxLengthOfValue(textEditorModel.MostCharactersOnASingleRowTuple.rowLength)">
                        @($"{columnNumber}")
                    </div>
                </div>
                
                <div class="bte_text-editor-footer-name-value-pair">
                    <div class="bte_text-editor-footer-name">
                        Pos:
                    </div>

                    @{ var positionNumber = textEditorModel.GetCursorPositionIndex(textEditorViewModel.PrimaryCursor) + 1; }
                    
                    <div class="bte_text-editor-footer-value"
                          style="@StyleMinWidthFromMaxLengthOfValue(textEditorModel.DocumentLength)">
                        @($"{positionNumber}")
                    </div>
                </div>
            </div>

            <div class="bte_text-editor-footer-entry">
                @if (textEditorModel.OnlyRowEndingKind is null)
                {
                    <text>has:mixed </text>
                }
                else
                {
                    <text>has:@textEditorModel.OnlyRowEndingKind.Value.AsFriendlyName() </text>
                }

                use:
                <select @onchange="SelectRowEndingKindOnChange">
                    @foreach (var rowEndingKind in RowEndingKind.Linefeed.GetRowEndingsUserAllowedToUse())
                    {
                        <option value="@rowEndingKind.ToString()"
                                selected="@(textEditorModel.UsingRowEndingKind == rowEndingKind)">
                            @rowEndingKind.AsFriendlyName()
                        </option>
                    }
                </select>
            </div>
        }
        else
        {
            <div class="bte_text-editor-footer-entry bte_text-editor-footer-file-sizing">
                @if (textEditorModel is null)
                {
                    <div>The @nameof(TextEditorModel) was null</div>
                }
                else if (textEditorViewModel is not null)
                {
                    <div>The @nameof(TextEditorViewModel) was null</div>
                }
            </div>
        }
    }
</div>