@using BlazorTextEditor.RazorLib.Row
@using BlazorTextEditor.RazorLib.Model
@using BlazorTextEditor.RazorLib.ViewModel

@inherits TextEditorView

<div class="bte_text-editor-footer @TextEditorService.GlobalThemeCssClassString">
    @{
        var textEditorModel = MutableReferenceToTextEditor;
        var textEditorViewModel = ReplaceableTextEditorViewModel;
        
        if (textEditorModel is not null &&
            textEditorViewModel is not null)
        {
            if (!string.IsNullOrWhiteSpace(textEditorModel.FileExtension))
            {
                <div class="bte_text-editor-footer-entry">
                    @textEditorModel.FileExtension
                </div>
            }

            <div class="bte_text-editor-footer-entry">
                length:@($"{textEditorModel.DocumentLength}")
                &nbsp;
                lines:@($"{textEditorModel.RowCount}")
            </div>

            <div class="bte_text-editor-footer-entry">
                Ln:@($"{textEditorViewModel.PrimaryCursor.IndexCoordinates.rowIndex + 1}")
                &nbsp;
                Col:@($"{textEditorViewModel.PrimaryCursor.IndexCoordinates.columnIndex + 1}")
                &nbsp;
                Pos:@($"{textEditorModel.GetCursorPositionIndex(textEditorViewModel.PrimaryCursor) + 1}")
            </div>

            <div class="bte_text-editor-footer-entry">
                @if (textEditorModel.OnlyRowEndingKind is null)
                {
                    <text>has:mixed </text>
                }
                else
                {
                    <text>has:@textEditorModel.OnlyRowEndingKind.Value.AsFriendlyName() </text>
                }

                use:
                <select @onchange="SelectRowEndingKindOnChange">
                    @foreach (var rowEndingKind in RowEndingKind.Linefeed.GetRowEndingsUserAllowedToUse())
                    {
                        <option value="@rowEndingKind.ToString()"
                                selected="@(textEditorModel.UsingRowEndingKind == rowEndingKind)">
                            @rowEndingKind.AsFriendlyName()
                        </option>
                    }
                </select>
            </div>
        }
        else
        {
            <div class="bte_text-editor-footer-entry bte_text-editor-footer-file-sizing">
                @if (textEditorModel is null)
                {
                    <div>The @nameof(TextEditorModel) was null</div>
                }
                else if (textEditorViewModel is not null)
                {
                    <div>The @nameof(TextEditorViewModel) was null</div>
                }
            </div>
        }
    }
</div>