@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@using BlazorTextEditor.RazorLib.CustomEvents
@using BlazorTextEditor.RazorLib.Store.TreeViewCase

@{
    var treeViewState = TreeViewStateContainerWrap.Value; 
    
    <div id="@TreeViewService.GetTreeContainerElementId(treeViewState?.TreeViewStateKey ?? TreeViewStateKey.Empty)"
         class="btv_tree-view-state btv_unselectable @GetHasActiveNodeCssClass(treeViewState) @CssClassString"
         style="@CssStyleString"
         tabindex="0"
         @onkeydownwithpreventscroll="(e) => HandleTreeViewOnKeyDownWithPreventScroll(e, treeViewState)"
         @oncontextmenu:preventDefault="true"
         @oncontextmenu:stopPropagation="true"
         @oncontextmenu="(e) => HandleTreeViewOnContextMenu(e, treeViewState, null)">
    
        @if (treeViewState is null)
        {
            <div>@nameof(treeViewState) was null</div>
        }
        else
        {
            <CascadingValue Value="treeViewState">
                <CascadingValue Name="HandleTreeViewOnContextMenu" Value="HandleTreeViewOnContextMenu">
                    <CascadingValue Name="HandleTreeViewOnClick" Value="HandleTreeViewOnClick">
                        <CascadingValue Name="HandleTreeViewOnDoubleClick" Value="HandleTreeViewOnDoubleClick">
                            <CascadingValue Name="HandleTreeViewOnMouseDown" Value="HandleTreeViewOnMouseDown">
                                <TreeViewDisplay TreeView="treeViewState.RootNode"
                                                 Depth="GetRootDepth(treeViewState.RootNode)"/>
                            </CascadingValue>
                        </CascadingValue>
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        }
    </div>    
}

@if (OnContextMenuRenderFragment is not null &&
     _treeViewContextMenuEvent is not null)
{
    <div class="btv_context-menu btv_set-selectable"
         style="@ContextMenuCssStyleString"
         @oncontextmenu:stopPropagation="true"
         @onmousedown:stopPropagation="true"
         @onclick:stopPropagation="true"
         @ondblclick:stopPropagation="true"
         @onkeydown:stopPropagation="true"
         @onkeydownwithpreventscroll:stopPropagation="true">
        
        @OnContextMenuRenderFragment(_treeViewContextMenuEvent)
    </div>
}
