@using BlazorTextEditor.RazorLib.Cursor
@using BlazorTextEditor.RazorLib.HelperComponents
@using BlazorTextEditor.RazorLib.Keymap
@using BlazorTextEditor.RazorLib.Commands
@using System.Collections.Immutable
@using BlazorCommon.RazorLib.Dimensions
@using BlazorTextEditor.RazorLib.Model
@using BlazorTextEditor.RazorLib.ViewModel
@using BlazorTextEditor.RazorLib.ViewModel.InternalComponents

@inherits TextEditorView

@{
    var textEditorModel = MutableReferenceToTextEditor;
    var textEditorViewModel = ReplaceableTextEditorViewModel;
    var globalTextEditorOptions = TextEditorService.GlobalOptionsWrap.Value.Options;

    var fontSizeInPixelsCssStyleString = string.Empty;

    if (globalTextEditorOptions.CommonOptions?.FontSizeInPixels is not null)
    {
        fontSizeInPixelsCssStyleString = 
            $"font-size: {globalTextEditorOptions.CommonOptions.FontSizeInPixels.Value.ToCssValue()}px;";
    }
}

<div style="@fontSizeInPixelsCssStyleString @GetGlobalHeightInPixelsStyling() @WrapperStyleCssString"
     class="bte_text-editor-css-wrapper @TextEditorService.GlobalThemeCssClassString @WrapperClassCssString">
    
    @if (textEditorModel is not null &&
         textEditorViewModel is not null)
    {
        <CascadingValue Value="textEditorModel">
            <CascadingValue Value="textEditorViewModel">
                <CascadingValue Value="globalTextEditorOptions">

                    @if (IncludeHeaderHelperComponent)
                    {
                        <TextEditorHeader TextEditorViewModelKey="TextEditorViewModelKey"
                                          HeaderButtonKinds="HeaderButtonKinds"/>
                    }

                    <div @ref="_textEditorDisplayElementReference"
                         @onclick="FocusTextEditorAsync"
                         @onkeydown="HandleOnKeyDownAsync"
                         @onkeydown:preventDefault="true"
                         @oncontextmenu="HandleOnContextMenuAsync"
                         @oncontextmenu:preventDefault="true"
                         @onmousedown="HandleContentOnMouseDownAsync"
                         @onmousemove="HandleContentOnMouseMoveAsync"
                         @ondblclick="HandleContentOnDoubleClickAsync"
                         @onwheel="HandleOnWheelAsync"
                         id="@ContentElementId"
                         style="@TextEditorStyleCssString"
                         class="bte_text-editor bte_unselectable @TextEditorClassCssString"
                         tabindex="-1">

                        <GutterSection/>

                        <BodySection @ref="_bodySection"
                                     TabIndex="TabIndex"
                                     HtmlElementId="@MeasureCharacterWidthAndRowHeightElementId"
                                     ContextMenuRenderFragmentOverride="ContextMenuRenderFragmentOverride"
                                     AutoCompleteMenuRenderFragmentOverride="AutoCompleteMenuRenderFragmentOverride"/>
                        
                        @if (textEditorViewModel.DisplayCommandBar)
                        {
                            <CommandBarDisplay RestoreFocusToTextEditor="FocusTextEditorAsync"/>
                        }
                    </div>

                    @if (IncludeFooterHelperComponent)
                    {
                        <TextEditorFooter TextEditorViewModelKey="TextEditorViewModelKey"/>
                    }
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    }
    else
    {
        if (textEditorModel is null)
        {
            <div>The @nameof(TextEditorModel) was null</div>
        }
        else if (textEditorViewModel is not null)
        {
            <div>The @nameof(TextEditorViewModel) was null</div>
        }
    }
</div>