@using BlazorTextEditor.RazorLib.Virtualization
@using BlazorTextEditor.RazorLib.HelperComponents
@using BlazorTextEditor.RazorLib.Cursor

<div class="bte_body-section"
     style="@GetBodyStyleCss()">

    @{
        var primaryCursorSnapshot = new TextEditorCursorSnapshot(TextEditorViewModel.PrimaryCursor);

        var tabKeyOutput = "&nbsp;&nbsp;&nbsp;&nbsp;";
        var spaceKeyOutput = "&nbsp;";

        if (TextEditorService.GlobalShowWhitespace)
        {
            tabKeyOutput = "--->";
            spaceKeyOutput = "·";
        }
    }

    <MeasureCharacterWidthAndRowHeight @ref="MeasureCharacterWidthAndRowHeightComponent"
                                       HtmlElementId="@HtmlElementId"/>

    <VirtualizationDisplay @ref="_virtualizationDisplay"
                           VirtualizationResultWithoutTypeMask="TextEditorViewModel.VirtualizationResult"/>

    <TextSelectionGroup PrimaryCursorSnapshot="primaryCursorSnapshot"/>

    <RowSection GlobalShowNewlines="TextEditorService.GlobalShowNewlines"
                SpaceKeyOutput="@spaceKeyOutput"
                TabKeyOutput="@tabKeyOutput"/>

    <ScrollbarSection/>

    <TextEditorCursorDisplay @ref="TextEditorCursorDisplay"
                             TextEditorCursor="TextEditorViewModel.PrimaryCursor"
                             ScrollableContainerId="@TextEditorViewModel.BodyElementId"
                             IsFocusTarget="true"
                             TabIndex="TabIndex">

        <OnContextMenuRenderFragment>
            @if (ContextMenuRenderFragmentOverride is not null)
            {
                @ContextMenuRenderFragmentOverride
            }
            else
            {
                <TextEditorContextMenu/>
            }
        </OnContextMenuRenderFragment>
        <AutoCompleteMenuRenderFragment>
            @if (AutoCompleteMenuRenderFragmentOverride is not null)
            {
                @AutoCompleteMenuRenderFragmentOverride
            }
            else
            {
                <TextEditorAutocompleteMenu/>
            }
        </AutoCompleteMenuRenderFragment>
    </TextEditorCursorDisplay>
</div>