@using BlazorTextEditor.RazorLib.Virtualization
@using BlazorTextEditor.RazorLib.HelperComponents
@using BlazorTextEditor.RazorLib.Cursor

<div class="bte_body-section"
     style="@GetBodyStyleCss()">

    @{
        var primaryCursorSnapshot = new TextEditorCursorSnapshot(TextEditorViewModel.PrimaryCursor);

        <TextSelectionGroup PrimaryCursorSnapshot="primaryCursorSnapshot"/>

        var tabKeyOutput = "&nbsp;&nbsp;&nbsp;&nbsp;";
        var spaceKeyOutput = "&nbsp;";

        if (TextEditorService.GlobalShowWhitespace)
        {
            tabKeyOutput = "--->";
            spaceKeyOutput = "·";
        }

        <TextEditorCursorDisplay @ref="TextEditorCursorDisplay"
                                 TextEditorCursor="TextEditorViewModel.PrimaryCursor"
                                 ScrollableContainerId="@TextEditorViewModel.BodyElementId"
                                 IsFocusTarget="true"
                                 TabIndex="TabIndex"
                                 GetMostRecentlyRenderedVirtualizationResultFunc="() => TextEditorViewModel.MostRecentlyRenderedVirtualizationResult"
                                 TextEditorViewModel="TextEditorViewModel">

            <OnContextMenuRenderFragment>
                @if (ContextMenuRenderFragmentOverride is not null)
                {
                    @ContextMenuRenderFragmentOverride
                }
                else
                {
                                                @* This is the default context menu *@
                    <TextEditorContextMenu TextEditorViewModelKey="TextEditorViewModel.TextEditorViewModelKey"/>
                }
            </OnContextMenuRenderFragment>
            <AutoCompleteMenuRenderFragment>
                @if (AutoCompleteMenuRenderFragmentOverride is not null)
                {
                    @AutoCompleteMenuRenderFragmentOverride
                }
                else
                {
                                                @* This is the default autocomplete menu *@
                    <TextEditorAutocompleteMenu TextEditorViewModelKey="TextEditorViewModelKey"/>
                }
            </AutoCompleteMenuRenderFragment>
        </TextEditorCursorDisplay>
    }

    <VirtualizationDisplay @ref="_virtualizationDisplay"
                           VirtualizationResultWithoutTypeMask="TextEditorViewModel.VirtualizationResult"/>

    <RowSection GlobalShowNewlines="GlobalShowNewlines"
                SpaceKeyOutput="@SpaceKeyOutput"
                TabKeyOutput="@TabKeyOutput"/>

    <ScrollbarSection/>

    <MeasureCharacterWidthAndRowHeight @ref="_measureCharacterWidthAndRowHeightComponent"
                                       HtmlElementId="@MeasureCharacterWidthAndRowHeightElementId"/>


</div>