@using BlazorTextEditor.RazorLib.Cursor

<div class="bte_body-section"
     style="@GetBodyStyleCss()">

    @{
        var primaryCursorSnapshot = new TextEditorCursorSnapshot(TextEditorViewModel.PrimaryCursor);

        var tabKeyOutput = "&nbsp;&nbsp;&nbsp;&nbsp;";
        var spaceKeyOutput = "&nbsp;";

        if (TextEditorService.GlobalShowWhitespace)
        {
            tabKeyOutput = "--->";
            spaceKeyOutput = "·";
        }
    }

    <RowSection @ref="_rowSection"
                GlobalShowNewlines="TextEditorService.GlobalShowNewlines"
                SpaceKeyOutput="@spaceKeyOutput"
                TabKeyOutput="@tabKeyOutput"
                TabIndex="@TabIndex"
                HtmlElementId="@HtmlElementId"
                PrimaryCursorSnapshot="primaryCursorSnapshot"/>

    <ScrollbarSection/>
</div>