<div class="bte_gutter-section"
     style="@GetGutterSectionStyleCss()"
     id="@TextEditorViewModel.GutterElementId">
    
    @{
        var localTextEditorViewModel = TextEditorViewModel;
    }
    
    @foreach (var virtualizedRow in localTextEditorViewModel.VirtualizationResult.Entries)
    {
        <div class="bte_gutter"
             style="@GetGutterStyleCss(virtualizedRow.Index)">
            @(virtualizedRow.Index + 1)
        </div>
    }
    
    @{
        var heightOfGutter = localTextEditorViewModel.VirtualizationResult.Entries.Length *
                             localTextEditorViewModel.VirtualizationResult.CharacterWidthAndRowHeight.RowHeightInPixels;

        var remainingHeightToFill = localTextEditorViewModel
            .VirtualizationResult.ElementMeasurementsInPixels.Height - 
                                    heightOfGutter; 
        
        <div class="bte_gutter"
             style="@GetGutterStyleCss(localTextEditorViewModel.VirtualizationResult.Entries.Length) height: @(remainingHeightToFill)px;">
        </div>
    }
</div>