@using BlazorTextEditor.RazorLib.Row
@using System.Text
@using BlazorTextEditor.RazorLib.Virtualization
@using BlazorTextEditor.RazorLib.HelperComponents
@using BlazorTextEditor.RazorLib.Cursor

<div class="bte_row-section"
     id="@TextEditorViewModel.BodyElementId">
    
    @* VirtualizationDisplay must be rendered first as it will modify the scrollHeight / scrollWidth of the scrollable parent *@
    <VirtualizationDisplay VirtualizationResultWithoutTypeMask="TextEditorViewModel.VirtualizationResult"
                           ItemsProviderFunc="VirtualizationDisplayItemsProviderFunc"/>

    <TextSelectionGroup PrimaryCursorSnapshot="PrimaryCursorSnapshot"/>

    @foreach (var virtualizedRow in TextEditorViewModel.VirtualizationResult.Entries)
    {
        <div class="bte_row"
             style="@GetRowStyleCss(virtualizedRow.Index, virtualizedRow.LeftInPixels)">
            @if (virtualizedRow.Item.Any())
            {
                var spanBuilder = new StringBuilder();
                var currentDecorationByte = virtualizedRow.Item.First().DecorationByte;

                foreach (var richCharacter in virtualizedRow.Item)
                {
                    if (currentDecorationByte == richCharacter.DecorationByte)
                    {
                        AppendTextEscaped(
                            spanBuilder,
                            richCharacter,
                            TabKeyOutput,
                            SpaceKeyOutput);
                    }
                    else
                    {
                        <span class="@GetCssClass(currentDecorationByte)">
                            @((MarkupString)spanBuilder.ToString())
                        </span>

                        spanBuilder.Clear();

                        AppendTextEscaped(
                            spanBuilder,
                            richCharacter,
                            TabKeyOutput,
                            SpaceKeyOutput);

                        currentDecorationByte = richCharacter.DecorationByte;
                    }
                }

                /* Final grouping of contiguous characters */
                <span class="@GetCssClass(currentDecorationByte)">
                    @((MarkupString)spanBuilder.ToString())
                </span>
            }

            @if (GlobalShowNewlines &&
                 virtualizedRow.Index < TextEditorBase.RowCount - 1)
            {
                var amountOfLeftInCharacterWidthUnits =
                    virtualizedRow.LeftInPixels /
                    TextEditorViewModel.VirtualizationResult.CharacterWidthAndRowHeight.CharacterWidthInPixels;

                var lengthOfRow = TextEditorBase
                    .GetLengthOfRow(
                        virtualizedRow.Index,
                        true);

                if (amountOfLeftInCharacterWidthUnits < lengthOfRow)
                {
                    var rowEndingTuple = TextEditorBase
                        .RowEndingPositions[virtualizedRow.Index];

                    <span class="bte_newline">
                        @rowEndingTuple.rowEndingKind.AsCharactersHtmlEscaped()
                    </span>
                }
            }
        </div>
    }

    <MeasureCharacterWidthAndRowHeight @ref="MeasureCharacterWidthAndRowHeightComponent"
                                       HtmlElementId="@HtmlElementId"/>

    <TextEditorCursorDisplay @ref="TextEditorCursorDisplay"
                             TextEditorCursor="TextEditorViewModel.PrimaryCursor"
                             ScrollableContainerId="@TextEditorViewModel.BodyElementId"
                             IsFocusTarget="true"
                             TabIndex="TabIndex">

        <OnContextMenuRenderFragment>
            @if (ContextMenuRenderFragmentOverride is not null)
            {
                @ContextMenuRenderFragmentOverride
            }
            else
            {
                <TextEditorContextMenu/>
            }
        </OnContextMenuRenderFragment>
        <AutoCompleteMenuRenderFragment>
            @if (AutoCompleteMenuRenderFragmentOverride is not null)
            {
                @AutoCompleteMenuRenderFragmentOverride
            }
            else
            {
                <TextEditorAutocompleteMenu/>
            }
        </AutoCompleteMenuRenderFragment>
    </TextEditorCursorDisplay>
</div>