@using BlazorTextEditor.RazorLib.Cursor
@using BlazorTextEditor.RazorLib.HelperComponents
@using BlazorTextEditor.RazorLib.TextEditorDisplayInternals
@using BlazorTextEditor.RazorLib.Virtualization

@inherits TextEditorView

<div style="@GlobalFontSizeInPixelsStyling @GetGlobalHeightInPixelsStyling() @StyleCssString"
     class="bte_text-editor-css-wrapper @GlobalThemeCssClassString @ClassCssString">

    <TextEditorHeader TextEditorViewModelKey="TextEditorViewModelKey"
                      HeaderButtonKinds="HeaderButtonKinds"/>

    <div @ref="_textEditorDisplayElementReference"
         @onclick="FocusTextEditorAsync"
         @onkeydown="HandleOnKeyDownAsync"
         @onkeydown:preventDefault="true"
         @oncontextmenu="HandleOnContextMenuAsync"
         @oncontextmenu:preventDefault="true"
         class="bte_text-editor"
         tabindex="-1">

        <div class="bte_text-editor-content bte_unselectable"
             id="@(ReplaceableTextEditorViewModel?.TextEditorContentId ?? string.Empty)"
             @onmousedown="HandleContentOnMouseDownAsync"
             @onmousemove="HandleContentOnMouseMoveAsync"
             @ondblclick="HandleContentOnDoubleClickAsync"
             @onwheel="HandleOnWheelAsync">

            <MeasureCharacterWidthAndRowHeight @ref="_measureCharacterWidthAndRowHeightComponent"
                                               ElementId="@MeasureCharacterWidthAndRowHeightElementId"/>

            @{
                var textEditor = TextEditorStatesSelection.Value;
                var textEditorViewModel = ReplaceableTextEditorViewModel;

                if (textEditor is not null &&
                    textEditorViewModel is not null)
                {
                    var primaryCursorSnapshot = new TextEditorCursorSnapshot(textEditorViewModel.PrimaryCursor);

                    if (textEditorViewModel.CharacterWidthAndRowHeight is not null &&
                        textEditorViewModel.WidthAndHeightOfTextEditor is not null)
                    {
                        <TextSelectionGroup TextEditor="textEditor"
                                            PrimaryCursorSnapshot="primaryCursorSnapshot"
                                            CharacterWidthAndRowHeight="textEditorViewModel.CharacterWidthAndRowHeight"/>

                        var tabKeyOutput = "&nbsp;&nbsp;&nbsp;&nbsp;";
                        var spaceKeyOutput = "&nbsp;";

                        if (GlobalShowWhitespace)
                        {
                            tabKeyOutput = "--->";
                            spaceKeyOutput = "·";
                        }

                        <VirtualizationDisplay @ref="_virtualizationDisplay"
                                               EntriesProviderFunc="EntriesProvider"
                                               Context="virtualizationResult">

                            @{
                                // TODO: Tracking the most recently rendered virtualization result feels hacky and needs to be looked into further. The need for this arose when implementing the method "CursorMovePageBottomAsync()"
                                textEditorViewModel.MostRecentlyRenderedVirtualizationResult = virtualizationResult;
                            }
                            
                            <CascadingValue Value="textEditor">
                                <CascadingValue Value="textEditorViewModel.CharacterWidthAndRowHeight">
                                    <CascadingValue Value="virtualizationResult">
                                        
                                        <GutterSection/>

                                        <RowSection GlobalShowNewlines="GlobalShowNewlines"
                                                    SpaceKeyOutput="@spaceKeyOutput"
                                                    TabKeyOutput="@tabKeyOutput"/>

                                        <ScrollbarSection WidthAndHeightOfTextEditor="textEditorViewModel.WidthAndHeightOfTextEditor"
                                                          TextEditorViewModel="textEditorViewModel"/>
                                        
                                    </CascadingValue>
                                </CascadingValue>
                            </CascadingValue>
                        </VirtualizationDisplay>

                        <TextEditorCursorDisplay @ref="_textEditorCursorDisplay"
                                                 TextEditorCursor="textEditorViewModel.PrimaryCursor"
                                                 CharacterWidthAndRowHeight="textEditorViewModel.CharacterWidthAndRowHeight"
                                                 WidthAndHeightOfTextEditor="textEditorViewModel.WidthAndHeightOfTextEditor"
                                                 TextEditorViewModelKey="TextEditorViewModelKey"
                                                 ScrollableContainerId="@textEditorViewModel.TextEditorContentId"
                                                 IsFocusTarget="true"
                                                 TabIndex="TabIndex"
                                                 GetMostRecentlyRenderedVirtualizationResultFunc="() => textEditorViewModel.MostRecentlyRenderedVirtualizationResult"
                                                 TextEditorViewModel="textEditorViewModel">

                            <OnContextMenuRenderFragment>
                                @if (OnContextMenuRenderFragment is not null)
                                {
                                }
                                else
                                {
                                    @* This is the default context menu *@
                                    <TextEditorContextMenu TextEditorViewModelKey="textEditorViewModel.TextEditorViewModelKey"/>
                                }
                            </OnContextMenuRenderFragment>
                            <AutoCompleteMenuRenderFragment>
                                @if (AutoCompleteMenuRenderFragment is not null)
                                {
                                }
                                else
                                {
                                    @* This is the default autocomplete menu *@
                                    <TextEditorAutocompleteMenu TextEditorViewModelKey="TextEditorViewModelKey"/>
                                }
                            </AutoCompleteMenuRenderFragment>
                        </TextEditorCursorDisplay>
                    }
                }
            }
        </div>
    </div>

    <TextEditorFooter TextEditorViewModelKey="TextEditorViewModelKey"/>
</div>